.Font1{
    font-family: serif;
    font-weight: bold;
}
.Font2{
    font-family: "DejaVu Sans Mono", monospace;
    font-weight: bold;
}
.Font3{
    font-family: "Times", "Times New Roman", serif; 
    font-weight: bold;
}
.Font4{
    font-family: serif;
    font-weight: bold;
}